@-webkit-keyframes toggling_in {
  0% {
    height: 0px; }
  100% {
    height: 100px; } }

@keyframes toggling_in {
  0% {
    height: 0px; }
  100% {
    height: 100px; } }

@-webkit-keyframes toggling_out {
  0% {
    height: 100px; }
  100% {
    height: 0px; } }

@keyframes toggling_out {
  0% {
    height: 100px; }
  100% {
    height: 0px; } }

body {
  padding: 0;
  margin: 0;
  background-color: #e6e6e6;
  font-size: 17px;
  font-family: 'Muli', sans-serif;
  color: black; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.top-menu {
  width: 100%;
  height: 70px;
  position: fixed;
  right: 0;
  top: 15px; }
  .top-menu ul {
    margin-top: -17px;
    margin-left: -40px; }
    .top-menu ul li {
      display: block;
      float: left;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      height: 100%;
      line-height: 50px;
      text-align: center;
      background-color: #1a9e00;
      color: #e6e6e6;
      font-weight: bold;
      text-decoration: none;
      position: relative; }
      .top-menu ul li a {
        text-decoration: none;
        position: relative; }
        .top-menu ul li a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #115e02;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.2s cubic-bezier(1, 0.25, 0, 0.75) 0s;
          -o-transition: all 0.2s cubic-bezier(1, 0.25, 0, 0.75) 0s;
          transition: all 0.2s cubic-bezier(1, 0.25, 0, 0.75) 0s; }
        .top-menu ul li a:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1.5);
          -ms-transform: scaleX(1.5);
          transform: scaleX(1.5); }

a:link, a:visited {
  text-decoration: none;
  color: white; }

p {
  margin-top: 50px;
  padding: 30px; }

.toggle-menu-start {
  display: none; }

.toggle-menu-close {
  position: fixed;
  display: block;
  left: 25%;
  top: 45px;
  width: 25%;
  height: 0;
  background-color: #1a9e00;
  -webkit-animation-name: toggling_out;
  animation-name: toggling_out;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  font-size: 0px;
  clear: both; }

.toggle-menu-open {
  position: fixed;
  display: block;
  clear: both;
  left: 25%;
  top: 30px;
  width: 25%;
  height: 100px;
  background-color: #1a9e00;
  text-align: center;
  padding-top: 5px;
  padding-left: 0;
  padding-bottom: 5px;
  -webkit-animation-name: toggling_in;
  animation-name: toggling_in;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  clear: both; }
  .toggle-menu-open li {
    display: block;
    height: 50%;
    line-height: 50px; }
  .toggle-menu-open a {
    text-decoration: none;
    position: relative; }
    .toggle-menu-open a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #115e02;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s cubic-bezier(1, 0.25, 0, 0.75) 0s;
      -o-transition: all 0.2s cubic-bezier(1, 0.25, 0, 0.75) 0s;
      transition: all 0.2s cubic-bezier(1, 0.25, 0, 0.75) 0s; }
    .toggle-menu-open a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1); }

/*# sourceMappingURL=main.css.map */